nav {
    width: 100vw;
    background-color: beige;
    padding: 30px;
 
    color: grey;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: black;
}

.current {
    color: red;
    font-weight: bolder;
}

ul {
    display: flex;
    align-items: center ;
    justify-content:  space-between;
}
